* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #372A4B;
}

#root {
  height: 100vh;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  /* gap: 50px; */
}

/* sidebar */

.sidebar {
  height: 100%;
  min-width: 280px;
  flex: 1 1 auto;
  background: #634464;
}

.sidebar .container {
  width: 100%;
  height: 100%;
  padding: 25px 25px 35px 25px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 10fr 1fr 10fr;
  row-gap: 30px;
  grid-template-areas:
    "title"
    "nav"
    "newsletter"
    "newsletter";
}

/* title */

.title {
  grid-area: title;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* nav */

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.25em;
}

.nav__element {
  display: flex;
  align-items: center;
  gap: 0.75em;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}

/* newsletter */

.newsletter {
  grid-area: newsletter;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding: 1.5em .5em;
}

.newsletter__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.75em;
}

.newsletter__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75em;
}

.newsletter input {
  background: none;
  border: none;
  outline: none;
}

/* forms */

.input {
  min-width: 200px;
  width: 30%;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.4em 1em;
  background: #D9D9D9;
  color: #666666;
  border-radius: 10px;
}

/* main */

.main {
  width: 100%;
  height: 100%;
}

.main .container {
  width: 100%;
  height: 100%;
  padding: 25px 35px 35px 0;
  display: grid;
  grid-template-columns: 25px repeat(5, 1fr);
  grid-template-rows: 3fr 10fr 1fr 10fr;
  column-gap: 25px;
  row-gap: 30px;
  grid-template-areas:
    ". header header header header header"
    ". featured featured featured ad ad"
    ". products-title products-title products-title ad ad"
    ". products products products products products";
}

/* contact */

.contact {
  width: 100%;
  height: 100%;
}

.contact .container {}



/* header */

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 4fr 4fr 5fr;
  column-gap: 1em;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1rem;
}

.header__searchbar {
  width: 100%;
  place-self: center;
}

.header input {
  background: none;
  border: none;
  outline: none;
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  place-self: center;
}

.header__icon-btn {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 3px;
  cursor: pointer;
}

.header__cart-btn {
  position: relative;
}

/* featured */

.featured {
  grid-area: featured;
  padding: 25px;
  display: grid;
  grid-template-columns: 9fr 10fr;
  gap: 25px;
}

.featured__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured__rating {
  display: flex;
  gap: 1em;
}

.featured__stars {
  display: flex;
  gap: 3px;
}

.featured__desc {}

.featured__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured__quantity {
  display: flex;
  align-items: center;
  padding: 0.3em 0.8em;
  gap: 0.75em;
  background-color: #eaeaea;
  border-radius: 3em;
  font-size: 1rem;
}

.featured__quantity-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.9em;
  height: 0.9em;
  padding: 0.8em;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.featured__buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
}

/* ad */

.ad {
  grid-area: ad;
  padding: 1em;
  z-index: 2;
}

.ad__inner {
  background: url('../src/assets/ad-background.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: .75em;
}

.ad__inner>div:first-child {
  margin-top: 25%;
}

.ad__inner>div:last-child {
  margin-top: auto;
  color: red;
}

/* products-title */

.products-title {
  grid-area: products-title;
  display: flex;
  align-items: last baseline;
  gap: 1em;
}

/* products */

.products {
  grid-area: products;
  padding: 20px;
  margin: -20px;
  display: flex;
  justify-content: space-between;
  gap: 26px;
  width: 100%;
  overflow-x: auto;
}

/* product */

.product--small,
.product--big {
  transition: box-shadow 0.3s ease;
}

.product--small {
  min-width: 12.5vw;
  padding: 1em;
  display: grid;
  grid-template-rows: 50% auto auto auto;
  row-gap: .35em;
}

.product--big {
  aspect-ratio: 0.9;
  padding: 1.5em;
  display: grid;
  grid-template-rows: 70% auto auto;
}

.product--small:hover,
.product--big:hover {
  box-shadow: 0 0 30px rgba(236, 164, 0, 0.5);
}

.product--big h3:nth-child(2) {
  margin-top: .7em;
}

.product--big div:nth-child(3) h3:nth-child(1) {
  margin-right: auto;
}

.product-image {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.product__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  /* font-size: 1.5rem; */
}

.product__btn {
  margin-left: auto;
  align-self: start;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 500;
  background: #DAC6E1;
  color: #7D576C;
  cursor: pointer;
}

/* 5th product */

.products .product--small:nth-child(5) {
  position: relative;
}

.product-cover {
  height: 60vh;
  width: 400px;
  background: #372A4B;
  position: fixed;
  bottom: -10vh;
  right: -250px;
  filter: blur(25px);
  z-index: 1;
}

.product-cover__btn {
  height: 40px;
  width: 40px;
  background: #D81E5B;
  border-radius: 50%;
  z-index: 2;
  position: fixed;
  bottom: 18vh;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* typography */

.text--primary {
  font-size: 1.75rem;
  font-weight: 600;
  color: #ffffff;
}

.text--secondary {
  font-size: 1.25rem;
  font-weight: 400;
  color: #DAC6E1;
}

.text--medium-bold {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
}

.text--medium-regular {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
}

.text--small-bold {
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
}

.text--small-regular {
  font-size: 1rem;
  font-weight: 400;
}

.text--desc {
  font-size: 0.8rem;
  font-weight: 400;
  color: #ffffff;
}

.text--small {
  font-size: 0.75rem;
  font-weight: 400;
  /* color: #ffffff; */
}

.text--input-big {
  font-size: 1.2rem;
  font-weight: 500;
  color: #2E2E2E;
}

.text--input-medium {
  font-size: 1rem;
  font-weight: 500;
  color: #2E2E2E;
}

.text--input-small {
  font-size: 0.8rem;
  font-weight: 500;
  color: #2E2E2E;
}

.text--icon {
  font-size: 0.75rem;
  font-weight: 400;
  color: #ffffff;
}

.text--white {
  color: #fff;
}

.text--medium-dark {
  color: #666;
}

.text--dark {
  color: #2e2e2e;
}

.text--special {
  color: #D81E5B;
}

.text--clickable {
  cursor: pointer;
}

.text--clickable:hover {
  text-decoration: underline;
}

/* icons */

.icon--primary {
  color: #DAC6E1;
}

.icon--darker {
  color: #634464;
}

.icon--xl {
  font-size: 2.5rem;
}

.icon--l {
  font-size: 2rem;
}

.icon--m {
  font-size: 1.75rem;
}

.icon--s {
  font-size: 1.25rem;
}

.icon--xs {
  font-size: 1rem;
}

.icon--input {
  font-weight: 500;
  color: #666666;
}

.icon--star {
  color: #FCF352;
}


.icon--clickable {
  cursor: pointer;
}

/* buttons */

.btn {
  font-weight: 600;
  border-radius: 0.625em;
  cursor: pointer;
  border: none;
  text-align: center;
}

.btn--medium {
  font-size: 1rem;
  padding: 0.5em 2.25em;
}

.btn--small {
  font-size: 0.8rem;
  padding: 0.65em 1.25em;
}

.btn--big {
  font-size: 1.25rem;
  padding: 0.5em 0;
  width: 14vw;
  text-align: center;
}

.btn--solid {
  background: #D81E5B;
  color: #ffffff;
  border: 1px solid transparent;

}

.btn--light {
  background: #f4f4f4;
  border: 1px solid transparent;
}

.btn--ghost {
  background: none;
  color: #DAC6E1;
  border: 1px solid #DAC6E1;
}

/* cards */

.card--big,
.card--small {
  background: #7D576C;
  box-shadow: 0px 10px 33px rgba(0, 0, 0, 0.1);
}

.card--big {
  border-radius: 24px;
}

.card--small {
  border-radius: 10px;
}


/* login */

div.login {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

form.login {
  background-color: #ffffff;
  color: #2e2e2e;

  width: 400px;

  padding: 2.5em 3em 4em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.login__title {
  text-align: center;
  color: inherit;
}

.login__group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

form.login label {
  display: block;
  color: inherit;
}

form.login input {
  border: none;
  outline: none;
  text-indent: 0.5em;
}

.login__input {
  border-bottom: 2px solid #666;
  background-color: inherit;
  width: 100%;
  padding: 0.5em;
}

.login__btn {
  margin-top: 1.5em;
}

/* cart popup */

.cart-popup {
  width: 400px;
  position: absolute;
  z-index: 3;
  background-color: #D9D9D9;
  top: calc(100% + 1em);
  right: -40px;

  display: flex;
  flex-direction: column;
  justify-content: end;

  cursor: default;
}

.cart-popup__arrow {
  position: absolute;
  top: -32px;
  right: 40px;
  width: 0;
  height: 0;
  border-width: 16px;
  border-style: solid;
  border-color: transparent transparent #D9D9D9 transparent;
}

.cart-popup__header {
  width: 100%;
  height: 50px;
  padding: 0 44px 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666666;
}

.cart-popup__inner {
  width: 100%;
  height: calc(100% - 50px);
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 0 1.5em 1.5em;
}

.cart-popup__items {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 55vh;
  overflow: auto;
  margin-bottom: 1em;
}

.cart-popup__item {
  width: 100%;
  padding: 1.5em 0;
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 1.5em;
  border-bottom: 1px solid #D9D9D9;
}

.cart-popup__item__text {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: minmax(48px, auto) auto;
  gap: 0.75em 0;
}

.cart-popup__item__text p {
  color: inherit;
}

.cart-popup__item__price {
  margin-top: auto;
  margin-left: auto;
}

.cart-popup__item__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: span 2;
}

.cart-popup__item__quantity {
  display: flex;
  align-items: center;
  padding: 0.3em 0.8em;
  gap: 0.75em;
  background-color: #eaeaea;
  border-radius: 3em;
  font-size: 1rem;
}

.cart-popup__item__quantity-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.9em;
  height: 0.9em;
  padding: 0.8em;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.cart-popup__checkout {
  width: 100%;
  padding: 1.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.cart-popup__checkout__text {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  color: inherit;
}

/* checkout */

.checkout,
.admin {
  width: 100%;
  height: 100%;
}

.checkout .container,
.admin .container {
  height: 100%;
  padding: 25px 0 0 0;
  display: grid;
  grid-template-columns: 25px auto;
  grid-template-rows: 3fr 24fr;
  column-gap: 25px;
  row-gap: 20px;
  grid-template-areas:
    ". header"
    "main main"
}

.checkout__main,
.admin__main {
  grid-area: main;
  background-color: #d9d9d9;
  display: grid;
}

.admin__main {
  padding: 2.5em;
  grid-template-rows: 1fr 1fr;
  row-gap: 1.75em;
}

.admin__top-cards,
.admin__bottom-cards {
  display: grid;
  column-gap: 2em;
}

.admin__top-cards {
  grid-template-columns: 1fr 1fr;
}

.admin__bottom-cards {
  grid-template-columns: 1fr 3fr;
}

.admin__card {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 1.75em;
  display: flex;
  flex-direction: column;
}

.admin__card__buttons {
  flex: 1;
  margin-top: 1.5em;
  display: grid;
  grid-auto-flow: column;
  column-gap: 1.75em;
}

.admin__card__button {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75em;
  cursor: pointer;
}

.admin__button__icon {
  font-size: 4em;
  color: #7D576C;
}

.checkout__main {
  padding: 2.5em 7em;
  grid-template-columns: 6fr 5fr;
  column-gap: 2em;
}

.checkout__cart {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #2e2e2e;
  padding: 2.5rem;
  display: grid;
  grid-template-rows: auto auto auto;
}

.checkout__cart__items {
  height: 52vh;
  overflow: auto;
}

.cart-popup__checkout {
  padding: 0;
  margin-top: auto;
  margin-bottom: .4em;
}

.checkout__payment {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.checkout__providers {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 0.5rem;
}

.checkout__form {
  height: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkout__long-input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.checkout__two-inputs-container {
  display: grid;
  grid-template-columns: 6fr 4fr;
  column-gap: 1rem;
}

.checkout__two-inputs-container>div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.checkout input {
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #f4f4f4;
  border-radius: 10px;
  text-indent: 0.75rem;
  border: none;
  outline: none;
}

.checkout__input--short {
  width: 100%;
}

.checkout__input--medium {
  width: 100%;
}

.checkout__input--long {
  width: 100%;
}

.checkout__purchase-btn {
  margin-top: auto;
}

/* all products */

.all-products {
  width: 100%;
  height: 100%;
}

.all-products .container {
  width: 100%;
  height: 100%;
  padding: 25px 35px 0 0;
  display: grid;
  grid-template-columns: 25px 1fr;
  grid-template-rows: 3fr 2fr 21fr;
  column-gap: 25px;
  row-gap: 30px;
  grid-template-areas:
    ". header"
    ". controls"
    ". products"
}

.all-products__controls {
  grid-area: controls;
  display: grid;
  align-items: center;
  /* width: 70%; */
  grid-template-columns: repeat(5, 4fr) 5fr;
  column-gap: 1.25em;
  position: relative;
}

.all-products__dropdown-btn {
  padding: 0.5em 1.8em;
  border-radius: 1em;
  background-color: #d9d9d9;
  display: flex;
  gap: .5em;
  justify-content: center;
  align-items: center;
  position: relative;
}

.all-products__dropdown-list {

  border-radius: 1em;
  background-color: #d9d9d9;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
}

.all-products__dropdown-option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
  padding: 0.5em 1.8em;
  width: 100%;
  height: 100%;
}

.all-products__filter-btn {
  margin: at;
}


.all-products__products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 50%;
  row-gap: 6em;
  column-gap: 2em;
  height: calc(100% + 20px);
  grid-area: products;
  overflow-y: auto;
  margin: -20px;
  padding: 20px;
}


/* product page */

.product-page {
  width: 100%;
  height: 100%;
}

.product-page .container {
  width: 100%;
  height: 100%;
  padding: 25px 0 0 0;
  display: grid;
  grid-template-columns: 25px 1fr;
  grid-template-rows: 3fr 25fr;
  column-gap: 25px;
  row-gap: 30px;
  grid-template-areas:
    ". header"
    "product product"
}

.product-page__main {
  grid-area: product;
  background-color: #7D576C;
  padding: 2.5em 6em 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.product-page__preview {
  width: 100%;
  min-height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 4px solid #DAC6E1;
}

.product-page__images,
.product-page__panel {
  
  display: grid;
  grid-template-rows: 8fr 2fr;
  row-gap: 2em;
}

.product-page__small-images {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 0.75em;
}

.product-page__text {
  
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 2.5em;
}

.hr--short {
  margin-top: 0.3em;
  height: 1px;
  width: 20%;
  border-radius: 2px;
  border: 2px solid #dac6e1;
}

.product-page__buttons {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.product-page__reviews-panel {}

.product-page__reviews__header {
  display: flex;
  align-items: baseline;
  gap: 2.5em;
  margin-bottom: 2em;
}

.product-page__reviews {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  padding: 0 7.5em;
  gap: 1.75em;
}

.product-page__review,
.product-page__review--with-photo {
  background-color: #DAC6E1;
  width: 100%;
  margin: auto;
  padding: 2em;
  display: grid;
}

.product-page__review {
  grid-template-rows: 5fr 2fr;
  grid-template-areas:
    "panel"
    "footer";
}

.product-page__review--with-photo {
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 5fr 1fr;
  grid-template-areas:
    "panel image"
    "footer footer";
  column-gap: 1em;
  row-gap: 1em;
}

.product-page__review__panel {
  grid-area: panel;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.product-page__review__title {
  display: flex;
  align-items: center;
  gap: 1em;
}

.product-page__review__image {
  aspect-ratio: 1.3;
  grid-area: image;
}

.product-page__review__footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

/* add review */

.add-review {
  width: 100%;
  height: 100%;
}

.add-review .container {
  width: 100%;
  height: 100%;
  padding: 25px 0 0 0;
  display: grid;
  grid-template-columns: 25px 1fr;
  grid-template-rows: 3fr 25fr;
  column-gap: 25px;
  row-gap: 30px;
  grid-template-areas:
    ". header"
    "main main"
}

.add-review__main {
  grid-area: main;
  background-color: #7D576C;
  padding: 2.5em 5em 3em;
  display: flex;
  gap: 2em;
  flex-direction: column;
}

.add-review__product {
  margin: 0 auto;
  width: auto;
  display: grid;
  grid-template-columns: 3fr 5fr;
  column-gap: 1em;
  align-items: center;
}

.add-review__form {
  padding-top: 2em;
  border-top: 4px solid #DAC6E1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 3fr;
  column-gap: 3em;
  row-gap: 1.5em;
}

.add-review__product-image {
  aspect-ratio: 1.3;
}

.add-review__main input,
.add-review__main textarea {
  display: block;
  margin-top: 0.75em;
  min-width: 90%;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.5rem;
  background-color: #d9d9d9;
  border-radius: 10px;
  text-indent: 0.75rem;
  border: none;
  outline: none;
  resize: none;
}

.add-review__stars {
  display: flex;
  gap: 0.25em;
  margin-top: 0.75em;
}

.add-review__star--empty {
  color: #D9D9D9;
}

.add-review__star--filled {
  color: #FCF352;
}

.add-review__upload-btn {
  margin-left: 2.5em;
  margin-top: 0.75em;
}

.add-review__submit-btn {
  grid-column: 1 / 3;
  grid-row: 3;
  margin: 1em auto 0;
}

/* admin panel */



/* profile */

.profile {
  width: 100%;
  height: 100%;
}

.profile .container {
  height: 100%;
  padding: 25px 35px 35px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 3fr 10fr 1fr 10fr;
  column-gap: 25px;
  row-gap: 30px;
  grid-template-areas:
    "header header header header header"
    "featured featured featured ad ad"
    "products-title products-title products-title ad ad"
    "products products products products products";
}
